{% comment %}
  Renders a collection card
{% endcomment %}

{%- liquid
  assign ratio = 1
  if card_collection.featured_image and media_aspect_ratio == 'portrait'
    assign ratio = 0.8
  elsif card_collection.featured_image and media_aspect_ratio == 'adapt'
    assign ratio = card_collection.featured_image.aspect_ratio
  endif
  if ratio == 0 or ratio == null
    assign ratio = 1
  endif

  assign card_color_scheme = settings.collection_card_color_scheme
  assign card_style = settings.collection_card_style
-%}

<div class="card-wrapper animate-arrow collection-card-wrapper">
  <div
    class="card card--{{ card_style }}{% if card_collection.featured_image %} card--media{% endif %} color-{{ card_color_scheme }} gradient"
  >

    <!-- IMAGEN (ÚNICO ELEMENTO CON RATIO) -->
    <div
      class="card__inner ratio"
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
      <a class="click__card_collection" href="{{ card_collection.url }}"></a>

      {% if card_collection.featured_image %}
        <div class="card__media">
          <div class="media media--transparent media--hover-effect">
            <img
              src="{{ card_collection.featured_image | image_url: width: 1500 }}"
              alt="{{ card_collection.featured_image.alt | escape }}"
              loading="lazy"
              width="{{ card_collection.featured_image.width }}"
              height="{{ card_collection.featured_image.height }}"
            >
          </div>
        </div>
      {% endif %}
    </div>

    <!-- TEXTO (SIN RATIO) -->
    <div class="card__content">
      <div class="card__information">
        <h3 class="card__heading">
          <a href="{{ card_collection.url }}" class="full-unstyled-link">
            {{ card_collection.title | escape }}
            <span class="icon-wrap">
              {{ 'icon-arrow.svg' | inline_asset_content }}
            </span>
          </a>
        </h3>

        {% if card_collection.description != blank %}
          <p class="card__caption">
            {{ card_collection.description | strip_html | truncatewords: 12 }}
          </p>
        {% endif %}
      </div>
    </div>

  </div>
</div>
